@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */

*{
    margin: 0;
    padding: 0;
}
/* shared style */
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.orange{
    color: #FD6E0A;
}
.btn-primary{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
}
.secondary-bg{
    background-color: #FFF8F3;
}


/* body style */
body{
    font-family: Open Sans;
}
header{
    padding: 20px 38px 0 200px ;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    font-size: 45px;
    font-weight: 800;
}
.navbar ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navbar ul li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    height: 350px;
}
.banner-greeting{
    /* margin-bottom: 20px; */
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
